<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/error.css">
</head>

<body>
  <div class="container">
    <img class="bg" src="/images/404.png" />
    <h4>您所请求的页面不存在,请仔细检查您输入的网址是否正确!</h4>
    <div class="btn">
      <a href="/" class="goindex">返回首页</a>
      <a style="cursor:pointer" onclick="history.back()" class="lx">返回上页</a>
      <div style="clear:both;"></div>
    </div>
  </div>

</body>

</html>